.container
  .tabs
    .tabs_item.active
      新着記事一覧
    .tabs_item
      タイムライン

  - @articles.each do |article|
    =link_to article_path(article) do
      .card
        - if article.eye_catch.attached?
          .card_image
            = image_tag article.eye_catch
        .card_content
          .card_title
            = article.title
          .card_heart
            = image_tag 'heart.svg'
            %span 23
          .card_detail
            = image_tag 'default-avatar.png'
            %div
              %p= article.user.display_name
              %p= formatted_created_at(article)
  = link_to new_article_path do
    .float_btn
      %i.fa.fa-plus