.article
  = display_eye_catch(@article)
  %h1.article_title= @article.title
  .article_detail
    = image_tag @article.user.display_avatar
    %div
      %p= @article.user.display_name
      %p= formatted_created_at(@article)
    = display_article_actions(@article)
  .article_content
    = @article.content
  .article_heart
    = image_tag 'heart.svg'
- if @comments.present?
  .comment
    %h2 コメント
    - @comments.each do |comment|
      = render 'display_comments', comment: comment, article: @article

.container
  = link_to new_article_comment_path(@article) do
    .btn-secondly
      コメントする