.article
  - if @article.eye_catch.attached?
    .article_image
      = image_tag @article.eye_catch
  %h1.article_title= @article.title
  .article_detail
    %div
      %p= @article.user.display_name
      %p= formatted_created_at(@article)
  .article_content
    = @article.content
  .article_heart
    = image_tag 'heart.svg'