%header.header
  .header_logo
    = link_to '#', onclick: 'window.history.back(); return false;' do
      = image_tag 'back.svg', class: 'header_logo_back'
    = link_to 'Blog App', root_path, class: 'header_logo_pageTitle'

  -# todo: Helperと部分テンプレート化してリファクタリング
  - if user_signed_in?
    .dropdown
      = image_tag current_user.display_avatar, class: 'header_avatar dropbtn'
      .dropdown-content
        = link_to 'プロフィール', profile_path
        = link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }
  - else
    = link_to 'ログイン', new_user_session_path

