%header.header
  .header_logo
    = link_to '#', onclick: 'window.history.back(); return false;' do
      = image_tag 'back.svg', class: 'header_logo_back'
    = link_to 'Blog App', root_path, class: 'header_logo_pageTitle'

  - if user_signed_in?
    = render 'layouts/header_action'

  - else
    = link_to 'ログイン', new_user_session_path
